*/.ipynb_checkpoints
*/__pycache__
*/.vscode
Data_science_master_syllabus.pdf
*/Resourses
/01_Python/Week_01-Basic_Building-30_Aug/Assignment_Solutions/.ipynb_checkpoints/
01_Python/Week_01-Basic_Building-30_Aug/Resourses/
01_Python/Week_02-Data_Structures-31_Aug/Resourses/