*.vscode/
*Resources/
*.ipynb_checkpoints/
*__pycache__/
*.idea/
04_Machine_Learning/Darshan_Complete_Machine_Learning_Notes.pdf
04_Machine_Learning/Week_ML_Projects
05_Deep_Learning/Week_21_Neural_Network/Darshan_Complete_Deep_Learning_Notes.pdf
17flowers/
catdog/
06_Computer_Vision/02_Computer_Vision_Projects/03_Automatic_Number_Plate_Recognition/
06_Computer_Vision/Darshan_Complete_Compter_Vision_Notes.pdf
07_Natural_Language_Processing/02_NLP_Projects/